* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  border: 1px solid black;
  min-height: 50rem;
  background: #999;

  & header {
    background: blue;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    & h1 {
      font-size: 3.2rem;
    }

    & h2 {
      font-size: 2.4rem;
    }
  }

  & .todo-list {
    padding: 2rem;
    & h3 {
      font-size: 2.2rem;
    }
    & p {
      font-size: 1.8rem;
    }

    .todo-div {
      display: flex;
      justify-content: space-between;
      background: #ccc;
      padding: 0.4rem 0.6rem;

      & .check-true,
      .check-false {
        font-size: 3.4rem;
        transition: all 0.4s;
        // box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
        &:hover {
          color: rgb(16, 110, 79);
        }
      }

      .check-false {
        color: rgb(20, 190, 222);
      }
      & .trash {
        font-size: 2rem;
        // box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
        transition: all 0.4s;
        &:hover {
          color: rgb(110, 8, 8);
        }
      }

      & h4 {
        font-size: 3rem;
      }
      & p {
        font-size: 2rem;
      }
    }
  }
}
